In [39]:
import pandas as pd

In [40]:
# CSV 파일 읽기 (경로를 본인의 파일 경로로 수정)
df = pd.read_csv('price/green_onions_new_try.csv')

In [41]:
df

     year     Month  Early    Mid   Late
0    2000   January   2707   3369      0
1    2001   January   2639   2399   2381
2    2002   January   5233   5722   2258
3    2003   January   3899   4451   4560
4    2004   January   3207   3463   3710
..    ...       ...    ...    ...    ...
295  2020  December   6933   7069   8180
296  2021  December   6096   6313   7008
297  2022  December   5840   5832   6881
298  2023  December   8193  10122  11382
299  2024  December      0      0      0

[300 rows x 5 columns]

In [42]:
# 데이터를 저장할 리스트 초기화
data_list = []

In [43]:
# 데이터 변환 작업
for index, row in df.iterrows():
    year = row['year']
    month = row['Month']
    
    # 각 시기의 데이터를 리스트에 추가
    data_list.append({'date': f"{year}-{month}-Early", 'data': row['Early']}) 
    data_list.append({'date': f"{year}-{month}-Mid", 'data': row['Mid']}) 
    data_list.append({'date': f"{year}-{month}-Late", 'data': row['Late']})

In [44]:
# 리스트를 DataFrame으로 변환
green_onions_transformed_data = pd.DataFrame(data_list)

In [45]:
# 결과 확인
print(green_onions_transformed_data)

                    date   data
0     2000-January-Early   2707
1       2000-January-Mid   3369
2      2000-January-Late      0
3     2001-January-Early   2639
4       2001-January-Mid   2399
..                   ...    ...
895    2023-December-Mid  10122
896   2023-December-Late  11382
897  2024-December-Early      0
898    2024-December-Mid      0
899   2024-December-Late      0

[900 rows x 2 columns]

In [46]:
# 변환된 데이터 저장
green_onions_transformed_data.to_csv('green_onions_transformed_data.csv', index=False)